body {
    font-family: sans-serif;
    background-color: #140513;
}

header {
    justify-content: space-between;
    padding: 15px;
    margin-bottom: 20px;
    
}

.button {
    background-color: #D5C1D0;
    color: white;
    text-decoration: none;
    padding: 15px;
    font-size: 24px;
    border-radius: 10px;
}

nav {
    border-top: 5px solid white;
    border-bottom: 5px solid white;
    padding: 25px 100px 25px 95px;
    justify-content: space-between;
}

.nav-link {
    font-size: 24px;
    color: white;
    text-decoration: none;
}

h1 {
    text-align: center;
    color: white;
    font-size: 36px;
    margin-top: 5px;
    margin-bottom: 20px;
}

p {
    font-size: 24px;
}

.info {
    flex-wrap: wrap;
    width: 1100px;
    margin: 0px;
}

article {
    background-color: white;
    padding: 10px;
    width: 400px;
    margin: 10px;
}

.article-but {
    text-decoration: none;
    background-color: #821C69;
    color: white;
    font-size: 24px;
    text-align: center;
    padding: 10px 75px 10px 75px;
}

footer {
    background-color: #B17326;
    padding: 10px;
}

footer a {
    margin-right: 10px;
}

footer p {
    font-size: 24px;
}

header {
    display: flex;
}

nav {
  display: flex;
}
.info {
    display: flex;
}

footer {
    display: flex;
}

